DATABASE_URL=sqlite:///./pv_system.db
PV_APP_MODE=demo
PV_DEMO_USER_SWITCH=true
PV_ALLOW_QUERY_USER_SWITCH=false
PV_MAX_UPLOAD_BYTES=26214400
PV_DEFAULT_PAGE_SIZE=25
PV_MAX_PAGE_SIZE=100
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_TENANT_ID=common
MICROSOFT_REDIRECT_URI=http://127.0.0.1:8000/outlook/callback
MICROSOFT_SCOPES=offline_access User.Read Mail.ReadWrite Mail.Send
